{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "no-unused-vars": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-key": "off",
    "import/no-anonymous-default-export": "off"
  }
}
